.blog-container{
    display: block;
    margin: 200px auto;
}
.details{
    height: auto;
}
.details img{
    float:right;
    max-height: 350px;
    width: 40%;
    margin: 10px auto;
    object-fit: cover;
    border-radius: 7px;
    margin-left: 20px;
    
}
.blog-details{
    padding-right: 40px;
}
.blog-author{
    color: rgb(184, 183, 183);
    
}
.blog-body{
    margin-top:30px;
}
@media(max-width:768px){
    .blog-container{
        margin: 100px auto;
    }
    .details img{
        float:none;
        width: 80%;
        display: block;
        margin: 0 auto;
        
        
    }
}