.blog-container {
    display: block;
    margin: 170px auto 0 auto;
}

.blog-title {
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 70px;
    order: 1;
}

.details img {
    margin-bottom: 40px;
    max-height: 350px;
    object-fit: cover;
    border-radius: 7px;
    order: 3;
}

.blog-details {
    order: 2;
    margin-bottom: 40px;
    min-height: 350px;
}

.blog-author {
    color: rgb(184, 183, 183);
}

.blog-body {
    margin-top: 30px;
}


@media(max-width:768px) {
    .details img {
        order: 2;
    }

    .blog-details {
        order: 3;
        min-height: fit-content;
    }
}