#SingleComm header {
  padding: 15% 7%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  align-items: center;
}

#SingleComm header h1 {
  padding-top: 2.5%;
  width: 60%;
  font-weight: 800;
}

#SingleComm header #comm-icon {
  text-align: right;
  padding-right: 8%;
}

#SingleComm header #comm-icon img {
  width: 35%;
}

#SingleComm section {
  padding: 9%;
}

hr {
  width: 70%;
  text-align: center;
  border: 1px solid #fff;
}

#SingleComm section h2 {
  margin-bottom: 5%;
  text-transform: uppercase;
}

#SingleComm section p {
  text-align: justify;
}

.comm-jobs ul {
  padding: 0;
  margin: 0;
  list-style-position: inside;
  list-style-type: circle;
}

.comm-jobs ul li {
  padding-bottom: 10px;
}