#gates header {
    padding: 20% 7%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
}

#gates header h1 {
    width: 60%;
    font-weight: 800;
}

#gates header #gates-icon {
    margin-left: 18%;
}

#gates header #gates-icon * {
    font-size: 10vw;
}

#gates section {
    padding: 9%;
}

#gates section h1,
#gates section h3 {
    text-transform: uppercase;
    font-weight: 800;
}

#gates section h3 {
    margin-bottom: 1rem;
}

#gates section p {
    font-size: 1.15rem;
}

#gates section .side-container p {
    font-size: 1.45rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.35px;
}

#gates section .side-container {
    padding: 0;
    margin-right: 3rem;
}

#gates section .side-container p {
    font-size: 1.9rem;
    font-weight: 700;
    width: 70px;
    height: 70px;
    background-color: #ffbb00;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gates section p span.number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #41416a9c;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}