.particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  height: 99vh;
}

.found-content {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  z-index: 2;
  font-size: 20px;
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 633px) {
  .found-content {
    left: 15%;
    width: 65%;
    height: 50%;
  }
}

.found-title {
  margin-bottom: 20px;
  font-size: 35px;
}
