#Committees {
  text-align: center;
  padding: 5% 0 5% 0;
}

.lg {
  width: 90%;
  margin: auto;
}

.committee-carousel-item .text-lg-center {
  /* font-size: 1.5em; */
  font-weight: bolder;
  text-align: center;
}

.committee-carousel-item .icon-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 13%;
}

.committee-label {
  display: inline-block;
  /* to make the clickable area on the word not in the space */
}

.icon {
  max-width: 100px;
}