.container_card:nth-child(even) {
    margin: 6% 0% 6% 30%;
}

.container_card:nth-child(odd) {
    margin: 6% 0% 6% 15%;
}

.img_card img {
    height: 250px;
    width: 250px;
    object-fit: cover;
}

.details_card {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details_event a {
    color: inherit;
}

.type_event {
    width: fit-content;
}

.type_event h5 {
    margin: 0;
    line-height: 1.8rem;
}

@media screen and (max-width: 767px) {
    .container_card {
        margin: 10% auto !important;
    }
}

@media screen and (max-width: 575px) {
    .container_card {
        margin: 10% auto !important;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .details_card {
        margin-left: 0%;
        margin-top: 3%;
        align-items: center;
    }
}