.flex-row-2 {
  display: flex;
  flex-flow: row wrap;
}

.flex-row-2 .box {
  width: 100%;
  padding: 20px;
}

.sup-span {
  color: #dd0000;
}

.error-message {
  font-size: 3vw;
  font-weight: normal;
  font-style: italic;
  color: #dd0000;
}

/* Media Queries */
@media only screen and (min-width: 768px) {
  .error-message {
    font-size: 1.5vw;
  }
}
