#Footer .social-links {
  max-width: 100%;
  justify-content: center;
  margin: 0;
  padding: 10px 0;
  font-size: 25px;
}

#Footer .social-links .social-links-item {
  margin: 0 20px;
}

@media (max-width: 395px) {
  #Footer .social-links .social-links-item {
    font-size: 5vw;
  }
}

#Footer .social-links .social-links-item a {
  color: #fff;
}