.blogs-container {
  margin: 0 auto;
  padding: 0;
}

.blogcard {
  position: relative;
  height: min-content;
  margin: 20px 0;
}

.blogcard__content {
  background-color: white;
  margin:auto;
  top: 5.7%;
  left: 7%;
  width: 92%;
  height: 79%;
  overflow: hidden;
  padding: 3% 6%;
  box-shadow: 0 2px 15px #3b35ad;
  transition:transform 200ms ease-in;
  border-radius: 12px;
  margin-bottom: 30px;
}

.blogcard__content:hover  {
  cursor: pointer;
  transform: scale(1.04);
  
}
.blogcard__content img{
  height:100%;
  max-height: 250px;
  padding: 5px;
  object-fit: cover;
}

.blogcard__heading {
  color: #010e30;
  font-weight: bold;
  font-size: 32px;
  text-transform: capitalize;
}

.blogcard__body {
  color: #010e30;
  height: inherit;
  text-align: justify;
  position: relative;
  overflow: hidden;
}



