/* style the navbar */
nav.navbar {
  padding: 0;
  /* remove the padding of the nav */
  background-color: transparent;
  transition: all 0.3s;
}
.ainshams-logo-img {
  background-color: #fff;
  border-radius: 50%;
  width: 90px;
}
nav.navbar .navbar-brand {
  width: 15%;
  transition: width 0.2s;
}

@media (min-width: 400px) {
  nav.navbar .navbar-brand {
    width: 10%;
  }

  nav.navbar .navbar-brand.img-scrolled {
    width: 8%;
  }
}

nav.navbar .navbar-brand img {
  max-width: 100%;
  height: auto;
}

nav.navbar.bg-dark {
  background-color: rgb(2, 13, 47, 0.6) !important;
}

nav.navbar .navbar-nav a.nav-link,
nav.navbar .navbar-nav span.nav-link {
  color: rgba(255, 255, 255, 0.8);
  padding: 1px;
  margin: auto 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: padding 0.4s;
}

nav.navbar .navbar-nav a.nav-link.active,
nav.navbar .navbar-nav span.nav-link.active {
  color: #fff;
  font-weight: bold;
  border-bottom: 1px solid;
}

/* style links in small devices */
@media (max-width: 575px) {
  nav.navbar .navbar-nav .nav-item {
    margin-bottom: 20px;
    font-size: 30px;
  }

  nav.navbar .navbar-nav a.nav-link:hover,
  nav.navbar .navbar-nav span.nav-link:hover {
    padding-left: 10px;
  }

  nav.navbar .navbar-nav a.nav-link.active,
  nav.navbar .navbar-nav span.nav-link.active {
    border: 0;
  }
}

/* style the toggler button */
nav.navbar .navbar-toggler {
  color: #fff;
}

/* style the list */
nav.navbar .navbar-collapse .menu-close {
  display: none;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px;
  font-size: 30px;
  color: #fff;
  margin-left: auto;
}

@media (max-width: 575px) {
  nav.navbar .navbar-collapse {
    height: 100vh;
    position: absolute;
    right: -80%;
    top: 0;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.99);
    box-shadow: 5px 0px 46px 22px #000;
    transition: right 0.2s;
    text-align: center;
  }

  nav.navbar .navbar-collapse .menu-close {
    display: block;
  }
}
